<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <nav class="nav">
    <a href="/">
      <button class="nav-btn">Home</button>
    </a>
    <a href="/about">
      <button class="nav-btn">About us</button>
    </a>
    <a href="/contact">
      <button class="nav-btn">Contact us</button>
    </a>
  </nav>
  <h1>Home</h1>
  
</body>
</html>